body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 24px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 20px;
  padding: 0.2em 0.5em;
  font-weight: 500;
  background-color: #653131;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #5f6186;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1875c6;
    background-color: #ffffff;
  }
  a:hover {
    color: #7578b5;
  }
  button {
    background-color: #ddafaf;
  }
}
